.how_much_found{
    text-align: center;
    font-size: 20px;
}
.books_container{
    margin: 0 auto;
    max-width: 1350px;
}
.books_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.books_items{
    flex-basis: 25%;
}
.book_item{
    background: #8a703e26;
    margin: 20px;
    height: 450px;
    text-align: left;
}
.book_img{
    text-align: center;
    padding: 20px;
}
.book_img img{
    width: 170px;
    height: 220px;
    box-shadow: 10px 10px 20px #826d44e5;
}
.book_category{
    text-decoration: underline #69676360;
    font-weight: lighter;
}
.book_authors{ 
    font-weight: normal;
    font-weight: lighter;
}
.book_category, .book_name, .book_authors {
    font-size: 14px;
    text-align: left;    
}
.navbar{
    text-decoration: none;
    color:black;
}
.book_info{
    padding: 0 20px 20px;
}
.load_more_button{
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    background: #826d44d2;
    color: white;
}
.button{
    text-align: center; 
}

